@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
:root{
    --primary-color:rgb(40, 168, 234);;
}

body{
    font-family: 'Do Hyeon', sans-serif;
    background-color: black;
    /* background-image: url("https://images.pexels.com/photos/1383562/pexels-photo-1383562.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=5000"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-width: 80%;
    margin: auto;
}
.navigation-div{
    text-align:right;
    padding-top: 3rem;
}

.primary-link{
    text-decoration: none;
    margin: 1rem;
    font-size: large;
    color: white;
}
.primary-link:hover{
    color: var(--primary-color);
}

#header-section{
   color: var(--primary-color);
    height: 5rem;
    padding: 1rem;
    border-radius: 8px;
    margin: 0.5px;
    font-size: larger;
}
.text-adjusted-heading
{
    color:#EFF6FF;
    margin: 1rem;
    text-align: left;
}
/* .paragraph-text{
    color: white;
    max-width: 300px;
    margin: 1rem;
} */
textarea{
    height: 5rem;
    padding: 1rem;
    background:transparent;
    border:1px solid white;
    margin-left: 1rem;
    width:80%;
    font-size:20px;
    color:#fff;

}
#btn-translate{
    margin: 1rem;
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: white;
    transition-duration: 0.4s;
    font-size: large;
}
#btn-translate:hover {
    background-color: var(--primary-color); /* Green */
    color: white;
  }

  .dropbtn {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin: 1rem;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {color: var(--primary-color);
:}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: transparent;
  }

.output{
    border: 0.001rem solid white;;
    width: 80%;
    height: 5rem;
    padding: 1rem;
    margin: 1rem;
    color: white;
    
}

#footer{
    height: 4rem;
    background: var(--primary-color);
    margin:1rem;
    width: 80%;
    padding: 1rem;
}