@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

:root{
    --primary-color:rgb(40, 168, 234);;
}

body{
    font-family: 'Do Hyeon', sans-serif;
    background-color: black;
    /* background-image: url("https://images.pexels.com/photos/1383562/pexels-photo-1383562.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=5000"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-width: 80%;
    margin: auto;
}
.navigation-div{
    text-align:right;
    padding-top: 3rem;
}

.primary-link{
    text-decoration: none;
    margin: 1rem 0.5rem;
    font-size: large;
    color: white;
}
.primary-link:hover{
    color: var(--primary-color);
}

#header-section{
   color: var(--primary-color);
    margin: 1rem 0.5rem;
    font-size: larger;
}
.text-adjusted-heading
{
    color:#EFF6FF;
    margin: 1rem 0.5rem;
    text-align: left;
}

textarea{
    height: 7rem;
    padding-top: 0.5rem;
    background:transparent;
    border:1px solid white;
    margin: 1rem 0.5rem;
    width:80%;
    font-size:20px;
    color:#fff;

}
#btn-translate{
    margin: 1rem 0.5rem;
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: white;
    transition-duration: 0.4s;
    font-size: large;
}
#btn-translate:hover {
    background-color: var(--primary-color); /* Green */
    color: white;
  }

  
.output{
    border: 0.001rem solid white;;
    width: 80%;
    height: 7rem;
    padding-top: 0.5rem;
    margin: 1rem 0.5rem;
    color: white;
    
}

#footer{
    height: 7rem;
    background: var(--primary-color);
    margin:1rem 0.5rem;
    width: 80%;
    padding-top:0.5rem;
    text-align: center;
}
ul{
    list-style-type: none;
}

.social-link-ul li{
    display: inline;
    margin: 1rem;
}
.social-link-ul li a{
    text-decoration: none;
    font-size: larger;
    color:white;
}

.social-link-ul li a:hover{
    color: black;
}